[mysqld]

port                    = 3306
user                    = mysql
pid-file                = /run/mysqld/mysqld.pid
basedir                 = /usr
datadir                 = /var/lib/mysql
tmpdir                  = /tmp
lc-messages-dir         = /usr/share/mysql
lc-messages             = ru_RU
skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 1M
table_open_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 128M
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M

auto_increment_increment=1000
auto_increment_offset=1011

character-set-server=utf8
collation-server=utf8_general_ci
init_connect='SET collation_connection = utf8_general_ci'
init_connect='SET NAMES utf8'

max_allowed_packet = 1024M

innodb_buffer_pool_size = 512M

[mysqldump]
quick
max_allowed_packet = 16M
default-character-set=utf8
[mysql]
no-auto-rehash



[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 20M
write_buffer = 20M

[mysqlhotcopy]
interactive-timeout

[client]

port		= 3306
socket = /run/mysqld/mysqld.sock
default-character-set=utf8